@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-5">Contributors</h1>
    <p>This project was created by 
        <a asp-controller="Home" asp-action="Chang">Chang Xu</a>, 
        <a asp-controller="Home" asp-action="Tara">Tara Poudyel</a>,
        <a asp-controller="Home" asp-action="Tigran">Tigran Klekchyan</a>, and
        <a asp-controller="Home" asp-action="Kenneth">Kenneth Otero</a>.
    </p>
</div>

