@using WebServerFinal.Models
@model IEnumerable<Books>
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-5">All Books</h1>

    <a asp-action="Add" asp-controller="Book" class="btn btn-dark mr-2">Add Book</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Author</td>
                <td>Genre</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Books c in Model)
            {
                <tr>
                    <td>@c.Title</td>
                    <td>@c.Author</td>
                    <td>
                        @if(c.Genres != null)
                        {
                            // Display genre name
                            @c.Genres.Genre
                        }
                    </td>
                    <td>
                        <a class="" asp-controller="" asp-action="">Check Out</a>
                        <a asp-action="Delete" asp-controller="Book" asp-route-id="@c.BookID"
                       class="btn btn-outline-dark">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
