@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-5">All Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Author</td>
                <td>Genre</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Leviathan Wakes</t>
                <td>James S. A. Corey</td>
                <td>Science Fiction</td>
                <td>
                    <a class="" asp-controller="" asp-action="">Check Out</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
