@{
    ViewData["Title"] = "Kenneth Otero";
}

<div class="text-center">
    <h1 class="display-5">Kenneth Otero</h1>
    <hr />
    <p>
         Hello, my name is Kenneth Otero. For this final project, I was responsible for creating our database 
         and with our pages regarding sign in and registration.
    </p>
</div>
