@{
    ViewData["Title"] = "Tara Poudyel";
}

<div class="text-center">
    <h1 class="display-5">Tara Poudyel</h1>
    <hr />
    <p>
         Hello My name is Tara Poudyel,
         Due to a miscommunication on my part I was working on the Edit page at the same time as Tigran.
    </p>
</div>
