@{
    ViewData["Title"] = "Tigran Klekchyan";
}

<div class="text-center">
    <h1 class="display-5">Tigran Klekchyan</h1>
    <hr />
    <p>
        Hello, my name is Tigran Klekchyan. 
        For this project I was responsible for the Edit page of the web app as well as the about page about myself.
    </p>
</div>