@{
    ViewData["Title"] = "Sign Out";
}

<div class="text-center">
    <form asp-action="LogOutAction" method="post">
        <p>Do you wish to sign out?</p>
        <button type="submit" class="btn btn-primary">Sign Out</button>
    </form>
</div>
